<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'Si.ico'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" media="screen" href="{% static 'index/index_style.css' %}">
  <title>善高の网站</title>
</head>
<body>
  <nav class="navbar-dark bg-danger navbar-fixed-top navbar navbar-expand flex-column flex-md-row bd-navbar">
    <div class="navbar-nav-scroll" id="navbarSupportedContent">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li>
          <a class="navbar-brand" href="https://jsgjzx.jsxjyj.cn/"><img alt="SG善高" src="https://jsgjzx.jsxjyj.cn/upload/jsgjzx/site/logo/image/89842c20efe2475a8d1bbccd7a3fc4f1.jpg"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link display-4" href="{% url 'index:index' %}">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link display-4" href="{% url 'canteen:index' %}">点菜系统</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- particles.js container -->
  <div id="particles-js">
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
  <script src="{% static 'index/index_app.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV" crossorigin="anonymous"></script>
</body>
</html>