<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'Si.ico' %}">
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  <link rel="stylesheet" media="screen" href="{% static 'canteen/particles.css' %}">
  <title>善高の网站</title>
</head>
<body>
<nav class="navbar-dark bg-danger navbar-fixed-top navbar navbar-expand flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" href="https://jsgjzx.jsxjyj.cn/">
    <img alt="SG善高"
         src="https://jsgjzx.jsxjyj.cn/upload/jsgjzx/site/logo/image/89842c20efe2475a8d1bbccd7a3fc4f1.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link display-4" href="{% url 'index:index' %}">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link display-4" href="{% url 'canteen:index' %}">点菜系统</a>
      </li>
    </ul>
  </div>
</nav>
<!-- particles.js container -->
<div id="particles-js">
  <div class="jumbotron">
    <h1 class="display-4">欢迎来到点菜系统！</h1>
    <p class="lead">请选择登录方式</p>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" href="{% url 'canteen:login' %}" role="button">学生登录</a>
    <a class="btn btn-success btn-lg disabled" href="{% url 'canteen:class' %}" role="button">班级登录</a>
  </div>
</div>
<script src="{% static 'particles.js' %}"></script>
<script src="{% static 'index/index_app.js' %}"></script>
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'bootstrap.bundle.js' %}"></script>
</body>
</html>