<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'Si.ico' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
  <title>善高の网站</title>
</head>
<body>
<nav class="navbar-dark bg-success navbar-fixed-top navbar navbar-expand flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" href="https://jsgjzx.jsxjyj.cn/">
    <img alt="SG善高"
         src="https://jsgjzx.jsxjyj.cn/upload/jsgjzx/site/logo/image/89842c20efe2475a8d1bbccd7a3fc4f1.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link display-4" href="{% url 'index:index' %}">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link display-4" href="{% url 'canteen:index' %}">点菜系统</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-4">{{ student.name }}：欢迎!</h1>
  <p class="lead" id="lead">您现在点的餐是:{{ food_list.0.meal.date }}{{ food_list.0.meal.description }}</p>
  <hr class="my-4">
  <a class="btn btn-success btn-lg" data-toggle="collapse" href="#askMeal" role="button" aria-expanded="false"
     aria-controls="askMeal">开始点餐</a>
  <a class="btn btn-success btn-lg" href="{% url 'canteen:logout' %}" role="button">退出登录</a>
</div>
<div class="collapse overflow-auto" id="askMeal">
  {% for foodForMeal in food_list %}
    <div class="card">
      <img src="/image/{{ foodForMeal.food.photo }}" alt="{{ foodForMeal.food }}"
           class="rounded card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ foodForMeal.food }}</h5>
        <p class="card-text">价格:{{ foodForMeal.food.price }}<br>总份数:{{ foodForMeal.total }}<br>{{ foodForMeal.wanted }}想要</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success" data-asked="{{ foodForMeal.pk }}" data-stu="{{ student.pk }}">点菜</button>
      </div>
    </div>
  {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
</html>