<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'Si.ico' %}">
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  <title>善高の网站</title>
</head>
<body>
<nav class="navbar-dark bg-success navbar-fixed-top navbar navbar-expand flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" href="https://jsgjzx.jsxjyj.cn/">
    <img alt="SG善高"
         src="https://jsgjzx.jsxjyj.cn/upload/jsgjzx/site/logo/image/89842c20efe2475a8d1bbccd7a3fc4f1.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index:index' %}">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'canteen:index' %}">点菜系统</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-4" id="student" data-pk="{{ student.pk }}">{{ student.name }}：欢迎!</h1>
  {% if food_list %}
  <p class="lead" id="lead" data-pk="{{ food_list.0.meal.pk }}">您现在点的餐是:{{ food_list.0.meal.date }}{{ food_list.0.meal.description }}</p>
  {% else %}
  <p class="lead">暂无新的可点餐点!</p>
  {% endif %}
  <hr class="my-4">
  <a class="btn btn-success btn-lg" data-toggle="collapse" href="#app" role="button" aria-expanded="false"
     aria-controls="askMeal">开始点餐</a>
  <a class="btn btn-success btn-lg" href="{% url 'canteen:logout' %}" role="button">退出登录</a>
  <button class="btn btn-success btn-lg" id="skip">跳过此餐</button>
</div>
<div class="collapse overflow-auto card-deck" id="app">
  <div id="data" data-json="{{ data }}"></div>
  {% if food_list %}
    {% for foodForMeal in food_list %}
    <div class="card">
      <img src="{{ foodForMeal.food.photo.url }}" alt="{{ foodForMeal.food }}"
           class="rounded card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ foodForMeal.food }}</h5>
        <p class="card-text">价格:{{ foodForMeal.food.price }}<br>总份数:{{ foodForMeal.total }}<br>{{ foodForMeal.wanted }}想要</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success" data-pk="{{ foodForMeal.pk }}">点菜</button>
      </div>
    </div>
    {% endfor %}
  {% else %}
  <p><strong>暂无新数据!</strong></p>
  {% endif %}
</div>
{% if food_list %}<script src="{% static 'canteen/canteen_app.js' %}"></script>{% endif %}
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'bootstrap.bundle.js' %}"></script>
</body>
</html>